body {
  font-family: "Space Grotesk", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  background-color: #f0f0f0 !important;
  text-transform: lowercase !important;
  }
  
  .jumbotron {
    background-color: #007bff !important; /* Bootstrap primary color */
    color: #fff !important; /* White text color */
    text-align: center !important; /* Center align text */
    padding: 80px 20px !important; /* Adjust padding as needed */
    margin-bottom: 0 !important; /* Remove default margin */
  }
  
  .jumbotron .container {
    max-width: 600px !important; /* Limit width of content */
    margin: 0 auto !important; /* Center align content horizontally */
  }
  
  .jumbotron h1 {
    font-size: 3.5rem !important; /* Large font size */
  }
  
  .jumbotron p {
    font-size: 1.5rem !important; /* Medium font size */
    margin-bottom: 30px !important; /* Space below paragraph */
  }
  
  .jumbotron .btn {
    margin-right: 10px !important; /* Space between buttons */
  }
  
  